block js-bottom
	script(src='//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js')
	script.
		window.jQuery || document.write('<script src="js/libs/jquery-1.9.1.min.js"><\/script>')

	script(type="text/javascript", src="/bootstrap/js/bootstrap.min.js")
	script(type="text/javascript", src="/js/libs/helpers.js")
	script(type="text/javascript", src="/tinyscrollbar/jquery.tinyscrollbar.min.js")
	//-script(type="text/javascript", src="/js/libs/cssrefresh.js")