

script(type="text/javascript", src="http://vkontakte.ru/js/api/share.js?9")
script(type="text/javascript", src="http://userapi.com/js/api/openapi.js?45")
script(type="text/javascript", src="//connect.facebook.net/en_US/all.js")


div(data-role="controlgroup")
	a#vk_auth(href="#", data-role="button") Вконтакте
	a#fb_auth(href="#", data-role="button") Facebook
