doctype 5
html
	include ../includes/head

	body
		header#header
			.container
				include ../includes/header
		section#view
			.container
				block content
		footer#footer
			.container
				include ../includes/footer

	include ../includes/foot
